img {
    width: 25%;
    margin-top: 2em;
    margin-bottom: 3em;
}

p {
    width: 50%;
    text-align: center;
    margin: auto;
    padding-bottom: 3em;
}


@media screen and (max-width: 600px) {
    img {
        margin-bottom: 2em;
        width: 45%;
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

