img {
    width: 25%;
}

p {
    width: 50%;
    text-align: center;
    margin: auto;
    padding-bottom: 3em;
}


@media screen and (max-width: 600px) {
    img {
        width: 45%;
    }
}

