
html {
    background-color: rgb(5, 2, 15);
}

main{
    text-align: center;
    margin: auto;
    margin-top: 3em;
}


/* FONT STUFF */
p {
    font-size: 120%;
}
h1, h2, h3, h4, a, p, li {
    color: rgb(255, 255, 255);
}
h4 {
    font-size: 200%;
}

/* HEADER STYLES */

#header-bar ul {
    list-style-type: none;
}
#header-bar li, #header-bar h1 {
    display: inline;
}
#bar-header {
    font-size: 1.5em;
    display: inline;
    font-weight: bolder;
    float: left;
    padding-right: 2em;
    margin: -0.25em 0 0em 1em;
}
#header-bar a {
    text-decoration: none;
}

#header-bar {
    width: 550px;
}

.bar-item {
    padding: 0px 32px 0 0px;
}
.bar-item:hover {
    color: rgb(161, 161, 161);
    transition: 0.2s;
}

#header-nav {
    width: 100%;
    margin-left: -7px;
    border-bottom: 1px rgb(155, 148, 132) solid;
}

