
body {
    background-color: rgb(8, 3, 24);
}

main{
    text-align: center;
    margin: auto;
    margin-top: 3em;
}


/* FONT STUFF */
p {
    font-size: 120%;
}
h1, h2, h3, h4, a, p, li {
    color: rgb(255, 255, 255);
}
h1 {
    font-size: 100%;
}
h4 {
    font-size: 200%;
}

/* HEADER STYLES */

#nav-main {
    background-color: rgb(30, 32, 33);
}


/* RESPONSIVE DESIGN */

@media screen and (max-width: 600px) {
    p {
        font-size: 150%;
        width: 85%;
    }
    main{
        width: 100%;
        padding-top: 1em;
    }
}

